@model WeatherModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    <div class="text-center">
        <h1 class="display-4">@Model.Name</h1>

        <div>@Model.Coord.Lat / @Model.Coord.Lon</div>
        <div>It feels like @Model.Main.FeelsLike</div>
    </div>
}